

.about-wrapper {
    position: absolute;
    
}
.about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    position: relative;

    .splash {
        position: absolute;
        top:10%;
        right: 10%;
        width: 50%;
    }
}



.about-section .about {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
    font-family: Montserrat,sans-serif;
    position: relative;
    z-index:7;
}

.about-section .about .tag {
    font-size: 18px;
    font-family: 'La Belle Aurore', cursive;
    color:#515152;
    font-weight: normal;

}

.about-section .about h1 {
    font-size: 5rem;
    font-weight: 800;
    margin:0;
    padding: 0;
    width:7ch;

    position: relative;
    top: 0px;
    background-color: #0000008c;
    background: linear-gradient(to right, #0aa58e, #0099ff,#08fdd8,#ff5851, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    margin-bottom: 8px;
}

.about-section .about p{
    color: lightgrey;
    letter-spacing: 1px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    font-family: system-ui;
    font-size: 1.1rem;
    line-height: 1.4;
}

.about-section .about p:not(:last-child)
{
    padding-bottom:8px;
}

.about-section .about .btn {
    display: flex;
    margin-top: 40px;
}

.about-section .about .btn i {
    margin-right: 5px;
}

.about-section .about button {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: #08fdd8;
    display: flex;
    cursor: pointer;
    border-radius: 28px;
    box-shadow: 0 0 6px #08fdd8;
    font-weight: 800;
    justify-content: center;
    margin:5px;
    outline: none;
    align-items: center;
    transition: all .3s ease;
}

.about-section .about button:hover {
    transform: scale(1.01);
    color:#ff5851;
    box-shadow: 0 0 6px #ff5851;
   
    
}



/* GRID */

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 5px;
}

.flip-card {
    perspective: 1000px;
    /* cursor: pointer; */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    animation:  rotate 20s cubic-bezier(0.9, 1, 1, 1) 1s infinite;
}

.flip-card-inner.none{
    animation: none;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    color: lightgray;
    font-size: 1.1rem;
    font-family: system-ui;
    transform: rotateY(180deg);
}


@media screen and (max-width: 800px) {


    .about-section {
        flex-direction: column;
        padding: 30px;

        .about {
            width: auto;
        }
    }
.about-section .about button {
    margin: 0 0 18px 0;
}

.grid {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
}
}

@media screen and (max-width: 415px) {

    .about-section .about h1 {
        font-size: 4rem;
    }
    
    .flip-card-back {
        font-size: 0.7rem;
    
    }

}

@media screen and (max-width: 380px) {

    .about-section .about h1 {
        font-size: 3rem;
    }
    
    .grid {
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        grid-auto-rows: 80px;
    }
}
@media screen and (max-width: 330px) {
    .about-section {
padding: 10px;}

}
